
@{
    ViewData["Title"] = "About";
}

    <div class="row">

        <div class="col-5" style="margin-top:8%">
            <div class="text-center">
                <img src="~/images/logo.png" width="120" height="120" />
                <h1 class="branded mt-3" style="font-size:100px;">Photogram</h1>
                <p>Designed and Developed by Furqaan Siddiqui</p>
            </div>
            
        </div>

        <div class="col-7 mt-5">
                <div class="card p-4" style="width:80%; border:1px solid #808080;left:20%;right:20%">
                    <h2>About Photogram</h2>
                    <p class="lead">Photogram is a simple anonymous photo sharing app designed by furqaan siddiqui</p>
                    <p class="lead">users can login to the app and add photos in their profile, these photos can be seen by other users of the app.
                    this way people can share photos anonymously on this platform</p>
                    <p class="lead">This was built to learn how social media platforms work in sharing posts, will make a fully functional app where users can also see who shared the post and can view their profile too.</p>
                </div>
        </div>

    </div>

