@model UserProfileModel
@{
    ViewData["Title"] = "AddProfile";
}


<div class="card p-5 mt-5" style="width:50%; border:1px solid #808080;left:25%;right:25%;">

    <center>
        <img src="~/images/logo.png" class="text-center" width="50" height="50" /><br />
        <h5>Add your profile</h5>
    </center>

    <br />

    <form method="post" enctype="multipart/form-data" class="form-group">
        <input type="hidden" asp-for="@Model.Id" />

        <label><b>Select a Profile Picture</b></label>
        <input type="file" name="file" id="PhotoPost" class="form-control" asp-for="ProfilePicture" required /><br />

        <input type="text" name="file" id="PhotoPost" class="form-control" asp-for="@User.Identity.Name" disabled /><br />

        <input type="text" placeholder="Your Name" name="file" id="PhotoPost" class="form-control" asp-for="UserName" required /><br />

        <input type="text" placeholder="Enter your Bio" name="file" id="PhotoPost" class="form-control" asp-for="Bio" required /><br />

        <button type="submit" class="form-control btn btn-primary">Update Profile</button>
    </form>

</div>