@page
@model RegisterModel
@using Photogram.utility
@{
    ViewData["Title"] = "Register";
}



<div class="row">
    <div class="col-4" style="margin-top:8%">
        <img src="~/images/banner.png" width="500" height="300" />
    </div>

    <div class="col-8">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div class="card p-5" style="width:60%; border:1px solid #808080;left:30%;right:30%;">
                <div asp-validation-summary="All" class="text-danger"></div>

                <center>
                    <img src="~/images/logo.png" class="text-center" width="50" height="50" />
                </center>

                <br />

                <h4 class="text-center"><b>Register a account on Photogram</b></h4>

                <div class="form-group row">
                    <div class="col-md-6 col-lg-12">
                        <input asp-for="Input.PublicName" class="form-control" style="border:1px solid black" placeholder="Enter a UserName" />
                        <span asp-validation-for="Input.PublicName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6 col-lg-12">
                        <input asp-for="Input.Email" class="form-control" style="border:1px solid black" placeholder="Enter your email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6 col-lg-12">
                        <input asp-for="Input.Password" class="form-control" style="border:1px solid black" placeholder="Enter a password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6 col-lg-12">
                        <input asp-for="Input.ConfirmPassword" class="form-control" style="border:1px solid black" placeholder="confirm your password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                @if (User.IsInRole(SD.Admin))
                {
                    <div class="form-group row">
                        <div class="col-md-6 col-lg-12 text-center">
                            <b style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">wanna assign new Admin?</b> : &nbsp;
                            <input type="radio" name="userroles" value="@SD.Admin"> <b style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Yes</b> &nbsp;
                            <input type="radio" name="userroles" value="null"> <b style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">No</b>
                        </div>
                    </div>
                }

                <button type="submit" class="btn btn-primary form-control">Register</button>

            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
